verification/sim/csrc
verification/sim/simv.daidir
verification/sim/verdiLog
verification/sim/*.log
verification/sim/*.conf
verification/sim/*.rc
verification/sim/*.fsdb
verification/sim/*.vcd
verification/sim/simv
verification/sim/*.key
.ver*
*.tar.gz
*.o
*.bin
*.data
*.dump
*.map
tools
freertos